<div class="card mb-3">
    <div class="card-header d-flex justify-content-between">
        <h3>Create New Service Request</h3>
        <a class="btn btn-success" (click)="goToMakeServiceRequest()" tabindex="0" routerLinkActive="active">Create New Service Request</a>
    </div>
</div>

<div class="row justify-content-between m-3">
    <div class="btn-group d-flex" role="group">
        <button type="button" class="btn btn-dark position-relative col-2 me-3" (click)="scrollToElement('headingInbox')" 
            data-bs-toggle="collapse" data-bs-target="#collapseInbox" aria-expanded="false" aria-controls="collapseInbox" title="Show Inbox">
            Inbox
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{allRequestCount.totalRequests}}
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
        <button type="button" class="btn btn-dark position-relative col-2 me-3" (click)="scrollToElement('headingInProgress')" 
            data-bs-toggle="collapse" data-bs-target="#collapseInProgress" aria-expanded="true" aria-controls="collapseInProgress" title="Show In Progress">
            In Progress
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{allRequestCount.inProgressRequests}}
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
        <button type="button" class="btn btn-dark position-relative col-2 me-3" (click)="scrollToElement('headingAssigned')" 
            data-bs-toggle="collapse" data-bs-target="#collapseAssigned" aria-expanded="false" aria-controls="collapseAssigned" title="Show Assigned">
            Assigned
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{allRequestCount.assignedRequests}}
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
        <button type="button" class="btn btn-dark position-relative col-2 me-3" data-bs-toggle="collapse"  
            data-bs-target="#collapseApproved" aria-expanded="false" aria-controls="collapseApproved" title="Show Approved">
            Approved
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{allRequestCount.approvedRequests}}
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
        <button type="button" class="btn btn-dark position-relative col-2" data-bs-toggle="collapse" 
            data-bs-target="#collapseRejected" aria-expanded="false" aria-controls="collapseRejected" title="Show Rejected">
            Rejected
            <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                {{allRequestCount.rejectedRequests}}
                <span class="visually-hidden">unread messages</span>
            </span>
        </button>
    </div>
</div>

<div class="accordion" id="accordionExampleOne">
    <div class="accordion-item">
        <div id="collapseInbox" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
            <div class="accordion-body">
                <app-allRequests></app-allRequests>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div id="collapseInProgress" class="accordion-collapse collapse show" data-bs-parent="#accordionExampleOne">
            <div class="accordion-body">
                <app-inProgress></app-inProgress>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div id="collapseAssigned" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
            <div class="accordion-body">
                <app-assignedRequests></app-assignedRequests>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div id="collapseApproved" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
            <div class="accordion-body">
                <app-approvedRequest></app-approvedRequest>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <div id="collapseRejected" class="accordion-collapse collapse" data-bs-parent="#accordionExampleOne">
            <div class="accordion-body">
                <app-rejectedRequest></app-rejectedRequest>
            </div>
        </div>
    </div>
</div>
