.gradient-custom-2 {
    min-height: auto;
    background: linear-gradient(to right, #FF9190,#FDC094,#FDC094,#FF9190);
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}
.border-light-subtle {
    border: 3px solid rgba(5, 1, 1, 0.1);
  }
  .full-height {
    height: 100vh;
  }

  .center-card {
    max-width: 100%;
    margin: auto;
  }

  .center-form {
    max-width: 100%;
    margin: auto;
  }

  .input-wrapper {
    position: relative;
}

.input-wrapper .form-control {
    padding-right: 3rem; 
}

.input-wrapper .btn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1; 
}
