
<h3 class="d-flex justify-content-start" tabIndex="1">Requests InProgress</h3>
<div class="table-responsive">
    <table class="table table-striped table-hover align-middle mb-0 bg-white">
        <thead class="bg-light">
        <tr tabIndex="1">
            <th>Profile</th>
            <th>Request</th>
            <th>Description</th>
            <th>Status</th>
            <th>Created Time</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let ticket of AllTickets" class="ticket-card" tabIndex="1">
            <td>
            <div class="d-flex align-items-center">
                <img src="https://th.bing.com/th?id=OIP.f3DM2upCo-p_NPRwBAwbKQHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2"
                    alt=""style="width: 45px; height: 45px" class="rounded-circle img-fluid"
                />
            </div>
            </td>
            <td>
            <p class="fw-bold mb-1">{{ ticket?.category?.categoryName }}</p>
            </td>
            <td class="description">{{ ticket?.requestDescription }}</td>
            <td>
                <span class="badge" [ngClass]="{'text-bg-info': ticket?.statusDescription?.status === 'Assigned',
                                                'text-bg-warning': ticket?.statusDescription?.status === 'In Progress',
                                                'bg-success': ticket?.statusDescription?.status === 'Approved',
                                                'bg-danger': ticket?.statusDescription?.status === 'Rejected'}">
                {{ ticket?.statusDescription?.status }}
                </span>
            </td>   
            <td>{{ getTime(ticket.createTimestamp) }}</td>
            <td *ngIf="ticket.assignedTo !== null">
                {{ticket.assignedTo?.name}}
            </td>
        </tr>
        </tbody>
    </table>
</div>

  