.description {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
.btn-group {
    display: flex;
    flex-wrap: wrap;
}

.btn {
    margin: 2px; 
    min-width: 40px;
    flex: 0 0 auto;
}