<div class="container-fluid">
    <div class="row">
        <!-- Main Navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top px-3" aria-label="Main navigation bar">
            <div>
                <img class="me-2" width="40" height="40" src="polus-logo-mono.png" tabindex="0" alt="website logo">
                <a class="navbar-brand title" aria-label="website name" tabindex="0">SupportSuite</a>
            </div>
            <div class="d-flex justify-content-end align-items-center ms-auto">
                <button class="navbar-toggler me-2" title="{{LoggedInUser.userName}}" id="userProfileButton" type="button" aria-label="user profile button" tabindex="0" (click)="userProfile($event)" aria-label="User Profile">
                    <span class="bi bi-person-fill"></span>
                </button>
                <button class="navbar-toggler" title="logout Button" id="logoutButton" type="button" (click)="logout($event)" aria-label="Click here to logout">
                    <span class="bi bi-box-arrow-right"></span>
                </button>
            </div>
        </nav>

        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar d-none d-md-block" aria-label="Sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="indexPage" routerLinkActive="active" aria-label="button to access homepage" tabindex="0" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="makeReq" routerLinkActive="active" aria-label="button to access make request page" tabindex="0">Create Service Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="inPro" routerLinkActive="active" aria-label="button to access inprogress requests" tabindex="0">Request In Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="assignedReq" routerLinkActive="active" aria-label="button to access assigned request" tabindex="0">Request Assigned</a>
                    </li>
                    <li class="nav-item">
                        <a  *ngIf="isAdmin()" routerLink="AdminDashboard" class="nav-link" id="AdminDashboardLink"  aria-label="button to access admin dashboard" tabindex="0">Admin Dashboard</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Secondary Navbar for Smaller Screens -->
        <nav class="navbar navbar-dark bg-dark d-md-none mt-5" aria-label="Secondary navigation bar">
            <div class="container-fluid">
                <button class="navbar-toggler" title="show navigation bar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidebar" aria-controls="navbarSidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSidebar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="indexPage" routerLinkActive="active" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="makeReq" routerLinkActive="active">Create Service Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="inPro" routerLinkActive="active">Request In Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="assignedReq" routerLinkActive="active">Request Assigned</a>
                        </li>
                        <li class="nav-item">
                            <a  *ngIf="isAdmin()" routerLink="AdminDashboard" class="nav-link" id="AdminDashboardLink"  aria-label="button to access admin dashboard" tabindex="0">Admin Dashboard</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 70px;" aria-label="Main content area">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>




