<div class="container-fluid">
    <div class="row">
        <!-- Main Navbar -->
        <nav class="navbar navbar-dark bg-dark fixed-top px-3" aria-label="Main navigation bar">
            <div>
                <img class="me-2" width="40" height="40" src="polus-logo-mono.png" tabindex="1" alt="website logo">
                <a class="navbar-brand title" aria-label="website name" tabindex="1">SupportSuite</a>
            </div>
            <div class="d-flex justify-content-end align-items-center ms-auto">
                <button class="navbar-toggler me-2" title="User Profile" id="userProfileButton" type="button" aria-label="user profile button" tabindex="1" (click)="userProfile($event)" aria-label="User Profile">
                    <span class="bi bi-person-fill"></span>
                </button>
                <button class="navbar-toggler" title="logout Button" id="logoutButton" type="button" (click)="logout($event)" tabindex="1" aria-label="Logout button">
                    <span class="bi bi-box-arrow-right"></span>
                </button>
            </div>
        </nav>

        <!-- Sidebar -->
        <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar d-none d-md-block" aria-label="Sidebar">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="indexPage" routerLinkActive="active" aria-label="button to access homepage" tabindex="1" aria-current="page">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="makeReq" routerLinkActive="active" aria-label="button to access make request page" tabindex="1">Create Service Request</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="inPro" routerLinkActive="active" aria-label="button to access inprogress requests" tabindex="1">Request In Progress</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="assignedReq" routerLinkActive="active" aria-label="button to access assigned request" tabindex="1">Request Assigned</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="dropdown01" (click)="toggleDropdown($event)" aria-expanded="false" aria-haspopup="true" aria-label="button to access admin dashboard" tabindex="1">Admin Dashboard</a>
                        <ul class="dropdown-menu" [class.show]="isDropdownVisible" aria-labelledby="dropdown01">
                            <li><a class="dropdown-item" routerLink="AdminDashboard">Dashboard</a></li>
                            <li><a class="dropdown-item" routerLink="AdminDashboard/addService">Create new Service</a></li>
                            <li><a class="dropdown-item" routerLink="AdminDashboard/newAdmin">Assign Admin</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Secondary Navbar for Smaller Screens -->
        <nav class="navbar navbar-dark bg-dark d-md-none mt-5" aria-label="Secondary navigation bar">
            <div class="container-fluid">
                <button class="navbar-toggler" title="show navigation bar" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSidebar" aria-controls="navbarSidebar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSidebar">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" routerLink="indexPage" routerLinkActive="active" aria-current="page">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="makeReq" routerLinkActive="active">Create Service Request</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="inPro" routerLinkActive="active">Request In Progress</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="assignedReq" routerLinkActive="active">Request Assigned</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="dropdown02" (click)="toggleDropdown($event)" aria-expanded="false" aria-haspopup="true">Admin Dashboard</a>
                            <ul class="dropdown-menu" [class.show]="isDropdownVisible" aria-labelledby="dropdown02">
                                <li><a class="dropdown-item" routerLink="AdminDashboard">Dashboard</a></li>
                                <li><a class="dropdown-item" routerLink="AdminDashboard/addService">Create new Service</a></li>
                                <li><a class="dropdown-item" routerLink="AdminDashboard/newAdmin">Assign Admin</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4" style="margin-top: 70px;" aria-label="Main content area">
            <router-outlet></router-outlet>
        </main>
    </div>
</div>




